####Oasis Infobyte
#####Task 3: Email Spam Detection

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [1]:
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
cd /content/gdrive/My Drive/Colab Notebooks/ML PRACTICAL

/content/gdrive/My Drive/Colab Notebooks/ML PRACTICAL

In [4]:
df=pd.read_csv('mail_data.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df.isnull()

      Category  Message
0        False    False
1        False    False
2        False    False
3        False    False
4        False    False
...        ...      ...
5567     False    False
5568     False    False
5569     False    False
5570     False    False
5571     False    False

[5572 rows x 2 columns]

In [6]:
data=df.where((pd.notnull(df)),'')

In [7]:
#checking_basic_dsciption_of_dataset
df.describe()

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [8]:
#labelling_spam_mails_as_0_and_normal_mails_as_1
data.loc[data['Category']=='spam','Category',]=0
data.loc[data['Category']=='ham','Category',]=1

In [9]:
data.head()

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

In [10]:
#separating_the_text_and_labels
x=data['Message']
y=data['Category']

In [11]:
print(x)
print(y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object
0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

**Train Test Split**

In [12]:
from pandas.core.common import random_state
#splitting_data_into_train_and_test_data
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.25, random_state=3)

In [13]:
#printing_rows_of_data_used_for_training_and_testing
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(4179,)
(1393,)
(4179,)
(1393,)

In [14]:
#conversion_of_text_value_to_numerical_value
#Vectorization
f_extract=TfidfVectorizer(min_df=1, stop_words='english', lowercase=True)

In [15]:
x_train_features = f_extract.fit_transform(x_train)
x_test_features = f_extract.transform(x_test)

In [16]:
#y_train_and_y_test_as_int
y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [17]:
print(x_train)

5398    Hi. Hope you had a good day. Have a better night.
3428                    Haha okay... Today weekend leh...
1968    Even i cant close my eyes you are in me our va...
334     Any chance you might have had with me evaporat...
5550          Cool, what time you think you can get here?
                              ...
789     5 Free Top Polyphonic Tones call 087018728737,...
968     What do u want when i come back?.a beautiful n...
1667    Guess who spent all last night phasing in and ...
3321    Eh sorry leh... I din c ur msg. Not sad alread...
1688    Free Top ringtone -sub to weekly ringtone-get ...
Name: Message, Length: 4179, dtype: object

In [18]:
print(x_train_features)

  (0, 4430)	0.41450719317548096
  (0, 1220)	0.5031131815237931
  (0, 2013)	0.35409440010605225
  (0, 2947)	0.34881124809412434
  (0, 3217)	0.4076845224125937
  (0, 3159)	0.40224633321456266
  (1, 3775)	0.4695537106130581
  (1, 6893)	0.46633181752174985
  (1, 6429)	0.3426231345185736
  (1, 4548)	0.4970267673802077
  (1, 3046)	0.4445534040097073
  (2, 6598)	0.4461204736403209
  (2, 4851)	0.47989357686704015
  (2, 6719)	0.47989357686704015
  (2, 2544)	0.42459495566937844
  (2, 1705)	0.400124925970091
  (3, 6133)	0.29238660419560947
  (3, 5294)	0.28418161744950815
  (3, 1827)	0.19807343512374637
  (3, 1847)	0.2182986349002313
  (3, 4685)	0.3178736209437815
  (3, 2401)	0.3178736209437815
  (3, 4497)	0.18714349878479067
  (3, 4792)	0.17630372185186383
  (3, 5995)	0.3178736209437815
  :	:
  (4176, 3021)	0.32372059492140887
  (4176, 4430)	0.2682314031269639
  (4177, 2155)	0.3667481496898832
  (4177, 6855)	0.3071956118478724
  (4177, 4534)	0.30528874994396976
  (4177, 2371)	0.3554736335464092
  (4177, 6560)	0.2983085875675311
  (4177, 5435)	0.33847308998924885
  (4177, 3726)	0.3112398371661381
  (4177, 4288)	0.24916048064265453
  (4177, 6663)	0.19683094221326083
  (4177, 5868)	0.22826489568398328
  (4177, 3775)	0.3133901975821068
  (4178, 140)	0.2903245511171923
  (4178, 5805)	0.20863039178570542
  (4178, 6020)	0.17704652207781738
  (4178, 619)	0.2987068986995711
  (4178, 6081)	0.2987068986995711
  (4178, 6891)	0.36867991604745826
  (4178, 324)	0.22429093294369576
  (4178, 6895)	0.24663099904681388
  (4178, 6078)	0.2776850317469554
  (4178, 5358)	0.4597326077641126
  (4178, 5565)	0.1623095789267608
  (4178, 2759)	0.31705255290414514

**Training the Model**

In [19]:
#logistic_regression
model=LogisticRegression()

In [20]:
#training_the_logitic_regression_model
model.fit(x_train_features,y_train)

LogisticRegression()

In [21]:
#evaluating_our_model
prediction_on_training_data=model.predict(x_train_features)
accuracy_on_training_data=accuracy_score(y_train,prediction_on_training_data)
print(accuracy_on_training_data)

0.9679349126585307

In [22]:
#prediction_on_test_data
prediction_on_test_data=model.predict(x_test_features)
accuracy_on_test_data=accuracy_score(y_test,prediction_on_test_data)
print(accuracy_on_test_data)

0.9641062455132807